html, body{
  padding:0;
  margin:0;
  zoom: 150%;
  background-color: black;
}
#Container{
  width: 100%;
  max-width: 90%;
  min-width: 300px;
  color: white;
  margin: auto;

  background-color: black;

  text-align:center;
}
#clock{
  width: 100%;

  text-align:center;
  color: white;
  font-size: 45px;
  font-family:'Srisakdi', cursive;
}
#Alarm{
  margin-top: 50px;
  text-align: center;
  color: white;
}

#turnOff{
  background-color: white;
  padding: 50px;
  border:none; outline:none;
  border-radius: 25%;
  margin: auto;
  right: 50%;

  font-weight:bolder;
  font-size: 45px;

  display: none;
}
  #turnOff:active{
    background-color: white;
    cursor: pointer;
}
  #turnOff:hover{
    cursor: pointer;
}
#modal1{
  color: white;
}
#sleep-icon{
  text-align: center;
}

body{
  font-family: 'Srisakdi', cursive;
}
